:root{
    --redColor: #AE0A09;
    --darkColor: #2F2F2F;
    --lightColor: #D3D3D3;
    --extraLightColor: #F6F6F6;
    --width: 70%;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--darkColor);
    font-weight: bold;
    padding: .75rem;
}

i{
    color: var(--darkColor);
    font-size: 2rem;
}

img{
    width: 100%;
    margin: 1rem 0;
}

.container{
    width: 100vw;
    justify-content: center;
}

.navigationBar{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    padding: 0 10%;
    align-items: center;
}

.navigationBar-logo{
    justify-self: center;
}

.navigationBar-logo img{
    width: 50%;
}


.navigationBar-socials{
    justify-self: right;
}

.navigationBar-links{
    justify-self: right;
}

.navigationBar-currentLink{
    background-color: var(--redColor);
    color: white;
}

.navigationBar a:hover{
    color: var(--darkColor);
    background-color: var(--lightColor);
}
