@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Header part */

.header{
    width: 100vw;
    height: 8vh;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-leftPart{
    margin-left: 15vw;
}

.header-leftPart img{
    height: 5vh;
}

.header-rightPart{
    margin-right: 15vw;

    display: flex;
}

.header-rightPart-icons{
    font-size: 4vh;
    display: flex;

    align-items: center;
}

.header-rightPart-icons i{
    padding: 0.4rem;
}

.header-rightPart-links{
    margin-left: 10vw;
    display: flex;

    align-items: center;
}

.header-rightPart-links a{
    color: black;
    text-decoration: none;
    padding: 0.6rem 1rem;
    margin: 1rem;
}

.header-rightPart-links-active{
    color: white !important;
    background-color: #9C0412;
}


/* Main Article Part */

.mainArticle{
    background-image: url("./images/featured.jpg");
    background-position: center;
    width: 100vw;
    height: 60vh;
}

.mainArticle-background{
    height: 100%;
    width: 100%;

    background-color: rgba(128, 128, 128, 0.322);

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainArticle-content{
    height: 30%;
    width: 60%;
    color: white;

    display: flex;
    justify-content: left;
}

.mainArticle-content h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.mainArticle-content-spacer{
    width: 60%;

    display: flex;
    flex-direction: column;
}

.tag{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.4rem;
    background-color: #F8874F;
    border-radius: 3rem;
    margin-bottom: 1rem;

    width: fit-content;
}


.niceLinkButton{
    color: white;
    text-decoration: none;
    background-color: #9C0412;
    width: fit-content;
    padding: 0.5rem;

    margin-top: 0.5rem;
}


/* small articles */

.smallArticlesContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.smallArticlesContainer-inside{
    width: 70%;
    display: grid;

    grid-template-areas: 
    'h2 h2 h2'
    'news1 news1 news2'
    'news3 news4 news5'
    'news3 news4 news5'
    'news6 news7 news7';

    grid-gap: 1rem;
}

.smallArticlesContainer-inside > h2{
    grid-area: h2;

    margin-top: 3rem;
}

.news{
    background-color: white;
    padding: 1rem;
}

.news h2{
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

.news img{
    height: 25vh;
}

.news1{
    grid-area: news1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.news2{
    grid-area: news2;
}
.news3{
    grid-area: news3;
}
.news4{
    grid-area: news4;

    display: grid;
    grid-template-areas:
    'second'
    'first';
}

.news4-first{
    grid-area: first;
}
.news4-second{
    grid-area: second;
}

.news5{
    grid-area: news5;
}
.news6{
    grid-area: news6;
}
.news7{
    grid-area: news7;

    display: grid;
    grid-template-areas: 
    'second first'
}

.news7-first{
    grid-area: first;
}
.news7-second{
    grid-area: second;
}


.tag-tech{
    background-color: #428BCA;
}

.tag-entertainment{
    background-color: #800080;
}

.news:nth-child(3){
    background-color: #302D2D;
    color: white;
}

.news-second{
    margin: 1rem;
    margin-left: 0;
}